$white: #FFF;
$black: #000;
$dgrey: #353535;
$grey: #8d8b94;
$bodybg: #f5f6fa;
$pur: #7a67c3;
$thpur: #5e537d;
$lblue: #4cb9ec;
$lgrey: #8d8b94;
$boxc: #c3c9e9;
$bline: #e8e7f4;
$awe: 'FontAwesome';
$bodyfont: 'Nunito', sans-serif;
$iconfont: "fontisto";