@import "custom-variables";

@media screen and (max-width:1250px) {
	.container { width: auto; }
}
@media screen and (max-width:1023px) {
	.animated {
	opacity: 1 !important;
	visibility: visible !important;
	-webkit-animation-name: none !important;
	-moz-animation-name: none !important;
	animation-name: none !important;
	-webkit-animation-duration: 0s !important;
	-moz-animation-duration: 0s !important;
	animation-duration: 0s !important;
	-webkit-animation-delay: 0s !important;
	-moz-animation-delay: 0s !important;
	animation-delay: 0s !important;
	}
}
@media screen and (max-width:880px) {
	.bargenerate {
		> div { padding: 0; }
		.formleft { flex: 1 1 100%; }
		.barcoderight { flex: 0 1 100%; }
		.barcodeplace { margin: 45px 0 25px; width: 300px; }  
	}
	.formtwiceway { padding-right: 0; }
	.tablehead { display: none; }
	.tablecontent { border-bottom: 2px solid $bline; display: block; margin-bottom: 20px;
		&:last-child { margin-bottom: 0; }
		> div { border-bottom: 0; padding: 15px 15px 15px 150px; position: relative; text-align: right; width: 100% !important; 
			&:before { color: $thpur; content: attr(data-title); left: 15px; position: absolute; top: 15px; }
		}
	}
}
@media screen and (max-width:765px) {
	.menuboxflex { width: 100%; }
}
@media screen and (max-width:740px) {
	.menuboxflex>div { flex: 0 1 33.3%; }
}
@media screen and (max-width:640px) {
	.formtwiceway>div { flex: 1 1 100%; 
		&:nth-child(odd) { padding-right: 0; }
	}
}
@media screen and (max-width:600px) {
	.menuboxflex>div { flex: 0 1 50%; }
	.datesaleslist>div { padding-right: 50px; }
	.totalnumber { font-size: 30px; }
}
@media screen and (max-width:540px) {
	.boxinfor>div { flex-basis: 100%; padding-right: 0; 
		&:last-child { flex-basis: 100%; }
	}
	.onedetailbox { text-align: center; }
	.totalnumber { font-size: 26px; }
	.calctotal { padding: 40px; }
	.popflex.formsector .calctotal { padding: 40px 20px; }
}
@media screen and (max-width:480px) {
	.datesaleslist{ padding: 0 0 20px;
		> div { flex: 1 1 100%; padding: 0 10px 25px 0; 
			&:last-child { padding-right: 10px; }
		}
	}
	.btngroup { padding-right: 0;
		.btn { margin: 0 0 20px 0;
			&.wide { width: 100%; }
			&:last-child { margin-bottom: 0; }
		}
	}
}
@media screen and (max-width:400px) {
	.menuboxflex>div { flex: 0 1 100%; }
	.calctotal { padding: 40px 25px; }
}
@media screen and (max-width:350px) {
	.bargenerate .barcodeplace { width: 100%; }
}